
body {
    color: #333644;
    background-color: #C65F63;
    background-image: url("/img/forest.jpg");
   
    font-family: 'Merriweather', serif;

}
#home_content {
    background-color: #F6E1B8;
    min-height: 100vh;
    
}


/* code to make the central area of the site full length of screen from https://stackoverflow.com/questions/23046801/height-not-100-on-container-fluid-even-though-html-and-body-are */
.container-fluid {
    height: 100%;
    overflow-y: hidden; /* don't show content that exceeds my height */
    padding:0;
}

.navbar {
    
    text-align: center;
    font-family:'Potta One', cursive;
    color:#333644 ;
}
footer {
  font-family:'Potta One', cursive;
  color:#333644 ;
  background-color: #84577C;
  text-align: center;
  /* max-height: 3rem; */
}

/* reference for links css https://www.w3schools.com/css/css_link.asp */
/* unvisited link */
a:link {
    color:#333644;
}
  
  /* visited link */
a:visited {
    color: #333644;
}
  
  /* mouse over link */
a:hover {
    color:#C65F63;
}
  
  /* selected link */
a:active {
    color: #333644;
}
/* changing button color examples https://www.codegrepper.com/code-examples/assembly/bootstrap+change+button+color */
.btn-secondary {
    background-color: #C65F63  !important;
    border-color: #F6E1B8 !important;
}
h1, h2, h3, h4, h5{
    font-family:'Potta One', cursive;
    color:#333644 ;
    
}


/* Rules for sizing the icons. From https://google.github.io/material-design-icons/ */
.material-icons.md-18 {
    font-size: 18px; 
  }
.material-icons.md-24 { 
  font-size: 24px; 
}
.material-icons.md-36 { 
  font-size: 36px; 
}
.material-icons.md-48 { 
  font-size: 48px; 
}


