<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- link to bootstrap css stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- link to local stylesheet -->
    <link rel=stylesheet type=text/css href="{{ url_for('static',filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- connecting to google api for fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@100&family=Sacramento&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Potta+One&display=swap" rel="stylesheet">            
    <link rel = "icon" href = "{{url_for('static', filename='img/favicon.ico')}}" >
    <title>Sue Milligan</title>
</head>

<body>

    <header>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #84577C">
                <div class="container-fluid">

                    <a class = "navbar-brand ms-5 me-5" href="{{ url_for('allposts') }}">
                        <img src= "{{ url_for('static', filename='img/default.jpg') }}" alt="stick_man_image">
                    </a>
            
                    <button class="navbar-toggler ms-1" type="button" data-bs-toggle="collapse" data-bs-target="#blogMenuToggle" aria-controls="blogMenuToggle" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button> 

                    <span class="navbar-text ms-5 me-5">
                        <h1>Suzanne Milligan's Blog</h1>
                    </span>

                    <div class="collapse navbar-collapse" id="blogMenuToggle">
                        <ul class="navbar-nav ms-5">
                        
                            {% if current_user.is_authenticated %}
                            
                                <li class="nav-item">
                                    <span class="navbar-text">
                                        Hello, {{ current_user.username }}!
                                    </span>

                                    <button class="btn btn-secondary me-2" type="button" >
                                        <a class="nav-link" href= "{{ url_for('user', username=current_user.username) }}" >Profile Page</a>
                                    </button>
                                </li>
                            
                                <li class="nav-item">
                                    <button class="btn btn-secondary me-2" type="button">
                                        <a class= "nav-link" href="{{ url_for('logout') }}">Logout</a>
                                    </button>
                                </li>            

                            {% else %}
                                
                                <li class="nav-item">
                                    <span class="navbar-text">
                                        Hello, Guest! 
                                    </span>

                                    <button class="btn btn-secondary me-2" type="button">
                                        <a  class="nav-link" href="{{ url_for('login') }}">Login</a>
                                    </button>
                                </li>

                                <li class="nav-item">
                                    <span class="navbar-text">
                                        or
                                    </span>

                                    <button class="btn btn-secondary me-2" type="button">
                                        <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                                    </button>
                                </li>
                            
                            {% endif %}

                            <li class="nav-item">
                                <button class="btn btn-secondary me-2" type="button">
                                    <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
                                </button>
                            </li>

                            <li class="nav-item">
                                <button class="btn btn-secondary me-2 text-nowrap" type="button">
                                    <a class="nav-link" href="{{ url_for('about') }}">About Me</a>
                                </button>
                            </li>

                            <li class="nav-item">
                                <button class="btn btn-secondary me-2 text-nowrap" type="button">
                                    <a class="nav-link" href ="{{ url_for('allposts') }}" >All Posts </a>
                                </button>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>
        </div>
    <header>

    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <button class="btn btn-secondary btn-sm text-nowrap" type="button">
            <a href="{{ url_for('home') }}">Home</a>
        </button> 
        <button class="btn btn-secondary  btn-sm text-nowrap" type="button">   
            <a href="{{ url_for('about') }}">About Us</a>
        </button>
        <p>Copyright 2021. Built by Suzanne Milligan.</p>
    </footer>   

    <!-- links to the javascript files needed for bootstrap to run  -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>

</body>

</html>